.Tarjetaimg{
    width: 18rem;
    
}

.Size{
    width:1rem ;
}

.Tarjetaimg2{
    width: 10rem;

}

h5  {
   color: aliceblue;


}

.overflow{
height: 500px;
width: 1000px;
    overflow: scroll;
    overflow-y: hidden;

}